doctype html
html(lang="ru")
    head
        title= "Визави салон"
        link(href="static/css/default.css",rel="stylesheet")
        script(src="http://code.jquery.com/jquery-latest.min.js")
    body
        #page
            header
                //- меню, каротчки/wifi/поисковая форма
                section#roof
                    menu
                        li
                            a(href="#",title="О нас")="О нас"
                        li
                            a(href="#",title="Цены")="Цены"
                        li
                            a(href="#",title="Специалисты")="Специалисты"
                        li
                            a(href="#",title="Фотогалерея")="Фотогалерея"
                        li
                            a(href="#",title="Статьи")="Статьи"
                        li
                            a(href="#",title="Отзывы")="Отзывы"
                        li
                            a(href="#",title="Акции")="Акции"
                        li
                            a(href="#",title="Контакты")="Контакты"
                    div
                        form
                            input(type="search",placeholder="Введите ваш запрос")
                            button
                                div="Искать"
                    #cards
                        a#visa(href="#",title="VISA")="VISA"
                        a#master-card(href="#",title="Master Card")="Master Card"
                        a#wifi(href="#",title="WiFi")="WiFi"
                //- логотип, скидки, контакты
                section#visavi
                    //- скидки
                    -var discount="Скидка "
                    -var percents="20%"
                    #discount.color-pink
                        #discount1.antique-italic-bold.font-size18=discount
                            span.font-size24=percents
                        #discount2
                            //- Сиреневый
                            span.antique-italic-bold.font-size18=discount
                                span.font-size24=percents
                            //- чёрный
                            span#first-visit="при первом посещении на все услуги"
                            #discount-more
                                //- {
                                span
                                //- подробнее
                                a.antique-italic-bold.color-pink(href="")="подробнее"
                                //- }
                                span
                    //- контакты
                    #contacts
                        #email
                        #phones
                            div="+7 (812) 401-03-94"
                            div="+7 (812) 927-22-27"
                            .clear-both="г. Санкт-Петербург, ул. Латышских стрелков, д.1, лит.А"
                //- слайдер
                section#slider
                    div
                        a(href="#",title="")
                    div
                        a(href="#",title="")
                    div
                        a(href="#",title="")
                //- основное меню
                nav
                    a(href="#",title="Парекмахерский зал")
                    a(href="#",title="Уход за руками и ногами")
                    a(href="#",title="Уход за лицом")
                    a(href="#",title="Уход за телом")
                    a(href="#",title="Лазерная эпиляция")
                    a(href="#",title="Инъекционная косметология")
                    a(href="#",title="Аппаратная косметология")
            main
                p="Main content"
            footer
                div
                    span="ВНИМАНИЕ!"
                    span="Салон ВИЗАВИ регулярно проходит аккредитацию и имеет официальную государственную лицензию и сертификат качества на все оказываемые виды услуг!"
                div
                    div
                    menu
                        li
                            a(href="#",title="О нас")="О нас"
                        li
                            a(href="#",title="Цены")="Цены"
                        li
                            a(href="#",title="Специалисты")="Специалисты"
                        li
                            a(href="#",title="Фотогалерея")="Фотогалерея"
                        li
                            a(href="#",title="Статьи")="Статьи"
                        li
                            a(href="#",title="Отзывы")="Отзывы"
                        li
                            a(href="#",title="Акции")="Акции"
                        li
                            a(href="#",title="Контакты")="Контакты"
                    div
                div="Copyright &copy; 2014 Salon.ru All Rights Reserved. Designed by Salon.ru"
        script(type='text/javascript').
            $(function(){
              //console.log('location.href = '+location.href);
              if(( location.href.indexOf('localhost')!=-1
                   || location.href.indexOf('127.0.0.1')!=-1)
                  && location.href.indexOf('?')!=-1){
                  document.title = window.outerWidth;
                  window.onresize=function(){
                      document.title = window.outerWidth;
                  };
                  var tail      = location.href.lastIndexOf('/')+1,
                      urlBase   = location.href.substring(0,tail),
                      params    = location.href.substr(tail);
                  $.get(urlBase+'_dev/debug/dev.php'+params,
                  function(data){
                      //console.log('data: '+data);
                      $('body').prepend(data);
                  });
              }else{
                  console.log('No url params...');
              }
            });
