doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        title= "Визави салон"
        link(href="static/css/default.css",rel="stylesheet")
        script(src="http://code.jquery.com/jquery-latest.min.js")
    body
        #page
            header
                //- меню, каротчки/wifi/поисковая форма
                section#roof
                    //- Верхнее меню
                    menu
                        each txt in ["О нас","Цены","Специалисты","Фотогалерея","Статьи","Отзывы","Акции","Контакты"]
                            li
                                a(href="#",title=txt)=txt
                    div
                        form
                            input(type="search",placeholder="Введите ваш запрос")
                            button
                                div="Искать"
                    #cards
                        each text,id in {'visa':'VISA','master':'Master Card','wifi':'WiFi'}
                            a(id=id,href="#",title=text)
                //- логотип, скидки, контакты
                section#visavi
                    //- скидки
                    -var discount="Скидка "
                    -var percents="20%"
                    #discount.color-pink
                        #discount1.antique-italic-bold.font-size18=discount
                            span.font-size24=percents
                        #discount2
                            //- Сиреневый
                            span.antique-italic-bold.font-size18=discount
                                span.font-size24=percents
                            //- чёрный
                            span#first-visit="при первом посещении на все услуги"
                            #discount-more
                                //- {
                                span
                                //- подробнее
                                a.antique-italic-bold.color-pink(href="")="подробнее"
                                //- }
                                span
                    //- контакты
                    #contacts
                        #email
                        #phones
                            div="+7 (812) 401-03-94"
                            div="+7 (812) 927-22-27"
                            .clear-both="г. Санкт-Петербург, ул. Латышских стрелков, д.1, лит.А"
                //- слайдер
                section#banner
                    #slider
                        //- элементы управления слайдами
                        div#slider-controls
                            div
                                span="◄"
                            div
                                span="■"
                            div
                                span="►"
                    each text,id  in { 'make-appointment':"записаться онлайн", 'make-gift':"подари сертификат", 'ask-specialist':"задать вопрос специалисту"}
                        div
                            a(id=id,href="#",title=text)
                                div=text
                //- основное меню
                nav
                    each val in ["Парикмахерский зал","Уход за руками и ногами", "Уход за лицом", "Уход за телом", "Лазерная эпиляция", "Инъекционная косметология", "Аппаратная косметология"]
                        a(href="#",title=val)
                            div
                                div=val
            main
                p="Main content"
            footer
                div
                    div
                        span="ВНИМАНИЕ!"
                        span=" Салон ВИЗАВИ регулярно проходит аккредитацию и имеет официальную государственную лицензию и сертификат качества на все оказываемые виды услуг!"
                div
                    div
                    menu
                        each txt in ["О нас","Цены","Специалисты","Фотогалерея","Статьи","Отзывы","Акции","Контакты"]
                            li
                                a(href="#",title=txt)=txt
                    //- Счётчики
                    div
                        img(src="static/images/sources/counter-rambler.gif")
                        img(src="static/images/sources/counter-2.gif")
                div="Copyright © 2014 Salon.ru All Rights Reserved. Designed by Salon.ru"
        script(type='text/javascript').
            $(function(){
              //console.log('location.href = '+location.href);
              if(( location.href.indexOf('localhost')!=-1
                   || location.href.indexOf('127.0.0.1')!=-1)
                  && location.href.indexOf('?')!=-1){
                  document.title = window.outerWidth;
                  window.onresize=function(){
                      document.title = window.outerWidth;
                  };
                  var tail      = location.href.lastIndexOf('/')+1,
                      urlBase   = location.href.substring(0,tail),
                      params    = location.href.substr(tail);
                  $.get(urlBase+'_dev/debug/dev.php'+params,
                  function(data){
                      //console.log('data: '+data);
                      $('body').prepend(data);
                  });
              }else{
                  console.log('No url params...');
              }
            });
