doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        // , maximum-scale=1, user-scalable=0
        title= "Визави салон"
        link(href="static/css/default.css",rel="stylesheet")
        script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="static/js/menus.js")
    body
        div#left-side="Left side"
        #page
            header
                //- Блоки (768+):
                //- меню, карточки/wifi/поисковая форма
                section#roof
                    //- Верхнее меню
                    menu
                        -var menu_items=["О нас","Цены","Специалисты","Фотогалерея","Статьи","Отзывы","Акции","Контакты"]
                        each txt in menu_items
                            li
                                if txt=="Акции"
                                    a(href="#",class="active",title=txt)=txt
                                else
                                    a(href="#",title=txt)=txt
                    div
                        form
                            input(type="search",placeholder="Введите ваш запрос")
                            button
                                div="Искать"
                    #cards
                        each text,id in {'visa':'VISA','master':'Master Card','wifi':'WiFi'}
                            a(id=id,href="#",title=text)
                //- логотип, скидки, контакты
                section#visavi
                    //- скидки
                    -var discount="Скидка "
                    -var percents="20%"
                    #discount.color-pink
                        #discount1.antique-italic-bold.font-size18=discount
                            span.font-size24=percents
                        #discount2
                            //- Сиреневый
                            span.antique-italic-bold.font-size18=discount
                                span.font-size24=percents
                            //- чёрный
                            span#first-visit="при первом посещении на все услуги"
                            #discount-more
                                //- {
                                span
                                //- подробнее
                                a.antique-italic-bold.color-pink(href="")="подробнее"
                                //- }
                                span
                    //- контакты
                    #contacts
                        #email
                        -var phone1="+7 (812) 401-03-94"
                        -var phone2="+7 (812) 927-22-27"
                        #phones
                            div=phone1
                            div=phone2
                            .clear-both="г. Санкт-Петербург, ул. Латышских стрелков, д.1, лит.А"
                //- слайдер
                section#banner
                    #slider
                        //- элементы управления слайдами
                        div#slider-controls
                            div
                                span="◄"
                            div
                                span="■"
                            div
                                span="►"
                    each text,id  in { 'make-appointment':"записаться онлайн", 'make-gift':"подари сертификат", 'ask-specialist':"задать вопрос специалисту"}
                        div
                            a(id=id,href="#",title=text)
                                div=text
                //- -------------------------------------
                //- Мобильные блоки:
                //- Логотип, сэндвич
                section#roof-mobile
                    h1="Салон красоты"
                    aside#menu-right
                        hr
                        hr
                        hr
                //- Кнопка "Все услуги", телефон
                section#all-services
                    div#menu-left
                        section.centered-vertical
                            div="Все"
                            div=" услуги"
                    div
                        section.centered-vertical
                            span.float-left="Звоните!"
                            span=phone2
                section#join-us
                    div
                        span="Присоединяйтесь:"
                        -var social_images=["social-twitter","social-vk","social-fb","social-g+"]
                        each img in social_images
                            a(href="#")
                                img(src="static/images/sources/" + img + ".png")


                //- основное меню
                nav
                    each val in ["Парикмахерский зал","Уход за руками и ногами", "Уход за лицом", "Уход за телом", "Лазерная эпиляция", "Инъекционная косметология", "Аппаратная косметология"]
                        a(href="#",title=val)
                            div
                                div=val
            main
                p="Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus."
                p="Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien."
                p="Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa. Sed cursus turpis vitae tortor. Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac"
            footer.desktop
                div
                    div
                        span="ВНИМАНИЕ!"
                        span=" Салон ВИЗАВИ регулярно проходит аккредитацию и имеет официальную государственную лицензию и сертификат качества на все оказываемые виды услуг!"
                div
                    div
                    menu
                        each txt in menu_items
                            li
                                a(href="#",title=txt)=txt
                    //- Счётчики
                    div
                        img(src="static/images/sources/counter-rambler.gif")
                        img(src="static/images/sources/counter-2.gif")
                div#copyright
                    div.float-left="Copyright © 2014 Salon.ru All Rights Reserved. Designed by Salon.ru"
                    div#social.float-right
                        each img in social_images
                            a(href="#")
                                img(src="static/images/sources/" + img+".png")


            footer.mobile
                div
                    a(href="#")="Перейти на полную версию"
                img(src="static/images/sources/counter-2.gif")
        div#right-side="Right side"
        script(type='text/javascript').
            $(function(){
              //console.log('location.href = '+location.href);
              // todo: remove on production
              if(( location.href.indexOf('localhost')!=-1
                   || location.href.indexOf('127.0.0.1')!=-1)
                  && location.href.indexOf('?')!=-1){
                  document.title = window.outerWidth;
                  window.onresize=function(){
                      document.title = window.outerWidth;
                  };
                  //
                  var tail      = location.href.lastIndexOf('/')+1,
                      urlBase   = location.href.substring(0,tail),
                      params    = location.href.substr(tail); console.log('params: '+params);
                  $.get(urlBase+'_dev/debug/dev.php'+params,
                  function(data){
                      //console.log('data: '+data);
                      $('body').prepend(data);
                  });
              }else{
                  console.log('No url params...');
              }
              // info: удалить (если используются серверные сценарии) или модифицировать (если используется JS-framework).
              var segment_pos, section='1280_default';
              if((segment_pos = location.href.indexOf('='))!=-1){ // если найдено, возвращает позицию, с которой будем начинать извлекать section (после сдвига на 1)
                  segment_pos+=1; // скорректировать позицию
                  section=(location.href.indexOf('&')!=-1)?
                    location.href.substring(segment_pos,location.href.indexOf('&')) : location.href.substring(segment_pos);
              }
              console.log('section: '+section);
            });
