.left-panel
    h4="Популярные услуги"
    menu
        -var popular_services={'moon':'лунный маникюр','lifting':'rf-лифтинг','epilation':'лазерная эпиляция','straightening':'керативное выпрямление волос','haircut':'стрижка горячими ножницами','massage':'lpg массаж','botox':'ботокс'}
        each text, link in popular_services
            li
                a(href=link)=text
    h4="Акции и скидки"
    h4="Наши заслуги"
#content
    section#welcome
        i="Добро пожаловать!"
        div
            aside
                a(href="#")!="<span>3D</span><span>тур</span>по салону"
            div
                strong!="Салон красоты &laquo;ВИЗАВИ&raquo; в Невском районе СПб ─ это команда профессиональных мастеров и стилистов, которые помогут Вам создать и сохранить свой неповторимый стиль!"
                p="Вас ожидает расслабляющая, уютная атмосфера и доброжелательное отношение!"
