#page-action
    h1.italic.bold.first.color-dark="Скидка на контурную пластику 10%"
    p.banner!="Контурная пластика лица идеально подойдёт для тех, кто хочет избавиться от носогубных складок, убрать &laquo;гусиные лапки&raquo; и разгладить мимические морщинки, мешки под глазами."
    p
        b!="Контурная пластика является одной из самых популярных процедур по омоложению лица.<br>Это связано с тремя важными факторами:"
    ul.color-pink.block
        each text in ["легкость проведения процедуры", "великолепный быстрый результат", "безболезненность"]
            li
                span=text
    p!="Контурная пластика лица идеально подойдёт для тех, кто хочет избавиться от носогубных складок, убрать &laquo;гусиные лапки&raquo; и разгладить мимические морщинки, мешки под глазами."
    div#waiting-you-for-coming.italic.bold.color-pink="Мы ждём вас! Вы можете записаться на приём здесь"
        a(href="#")="записаться онлайн"
    include subtemplates/share.jade