.left-panel
    h4="Популярные услуги"
    menu
        -var popular_services={'moon':'лунный маникюр','lifting':'rf-лифтинг','epilation':'лазерная эпиляция','straightening':'керативное выпрямление волос','haircut':'стрижка горячими ножницами','massage':'lpg массаж','botox':'ботокс'}
        each text, link in popular_services
            li
                a(href=link)=text
    h4="Акции и скидки"
    h4="Наши заслуги"
#content
    section#welcome
        i.pseudoheader="Добро пожаловать!"
        div
            aside
                a(href="#")!="<span>3D</span><span>тур</span>по салону"
            div
                strong!="Салон красоты &laquo;ВИЗАВИ&raquo; в Невском районе СПб ─ это команда профессиональных мастеров и стилистов, которые помогут Вам создать и сохранить свой неповторимый стиль!"
                p="Вас ожидает расслабляющая, уютная атмосфера и доброжелательное отношение!"
    #discount-to-all-first-time
        a(href="#")="Получить скидку"
        | Скидка 20% на услуги салона во время первого посещения
    section#waiting-you
        .half-wide
            i.pseudoheader-gray="В нашем салоне красоты Вас всегда ждёт:"
            ul.curly
                li="Квалифицированный персонал"
                li="Качественное обслуживание"
                li="Уютная атмосфера"
                li="Доброжелательное отношение"
        .half-wide
            p!="Если вы ещё не являетесь нашим клиентом и думаете, какой из множества салонов выбрать, запишитесь к нам на <span class='accented-pink'>БЕСПЛАТНУЮ консультацию по телефону 401-03-94</span>. Запись абсолютно бесплатна и ни к чему вас не обязывает."
            p="Просто скажите администратору, что желаете получить консультацию и он запишет Вас на удобное время."
    i#header-advantages.pseudoheader="Наши преимущества"
    section#our-advantages
        each text, header in {"Гостеприимство и вежливость":"Мы гарантируем вам гостеприимство и вежливость персонала. Если к вам не проявили корректности и должного уважения, сообщите об этом администратору или управляющему и мы выплатим вам компенсацию 1000 рублей.", "Безопасность и профессионализм":"Главный принцип работы нашего салона ─ безопасность клиентов. Мы работаем только со стерильными инструментами, все мастера имеют санитарные книжки. Все услуги и косметички в салоне имеют лицензии и сертификаты.", "Справедливые цены":"Наши мастера понимают и уважают своих клиентов, поэтому не навязывают безумных идей и ненужных услуг, а рекомендуют оптимальный вариант для получения наилучшего результата.", "Возврат денег, если не понравится":"Если вам не понравился результат нашей работы - мы вернём вам деньги в течение 3-х дней."}
            .half-wide
                div.black-substrate
                    div=header
                    div=header
                p=text
    i#license!="Салон обладает <span class='accented-pink uppercase'>государственной медицинской лицензией</span> на такие виды терапевтической косметологии, как:"
    ul#services-kinds.curly
        li="Аппаратная косметология (микротоковая терапия, RF-лифтинг, лазерно-вакуумный массаж)"
        li="Инъекционные методики (мезотерапия, контурная пластика, биоревитализация)"
        li="Устранение и лечение дефектов кожи (рубцов, пигментаций)"
        li="Уходовые процедуры"
        li="Применение ботулотоксина (ботокс, диспорт, лантокс)"
        li="Физиотерапия и массаж"