#page-care
    h1.italic.bold.first.color-dark="Уход за телом"
    p="Это очень приятная, расслабляющая и полезная процедура, а также наилучший подарок, который себе может сделать женщина. Хотите погрузиться в мир роскошных ароматов, эфирных масел и волшебных прикосновений профессионального массажиста? Приходите к нам, Вы выйдете похорошевшей, отдохнувшей и обновлённой."
    p="Обёртывание привлекательно в первую очередь тем, что результат заметен сразу! Уже в течение первых двух-трёх дней объём Вашей талии и бёдер может стать меньше на 2,5-3 см. Результат после прохождения полного курса, а это ─ 10-12 обёртываний, может быть просто ошеломляющим."
    hr.separator
    -var peeling_text="Пилинги ─ процедура направлена на очищение и обновление клеток кожи, способствует её тонизации и детоксикации. Соли, морские водоросли, растительные фитоэкстракты, косточки винограда, скорлупа жемчужной устрицы и другие полирующие ингредиенты обеспечивают здоровье и сияние Вашей кожи."
    section
        each text,header in { 'Пилинг':peeling_text, 'Обёртывание':peeling_text, 'Пилинг2':peeling_text, 'Пилинг3':peeling_text }
            div
                div
                    div
                aside
                    h4=header
                    p=text