doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        // , maximum-scale=1, user-scalable=0
        title= "Визави салон"
        link(href="static/css/default.css",rel="stylesheet")
        script(src="static/js/min/jquery.min.js")
        //script(src="http://code.jquery.com/jquery-latest.min.js")
        script(src="static/js/min/menus.min.js")
    body
        #left-side
            aside
                a(href="#")="Задать вопрос"
            -var all_services=["Парикмахерский зал","Уход за руками и ногами", "Уход за лицом", "Уход за телом", "Лазерная эпиляция", "Инъекционная косметология", "Аппаратная косметология"]
            each val in all_services
                div
                    a(href="#",title=val)=val
        #page
            header
                //- Блоки (768+):
                //- меню, карточки/wifi/поисковая форма
                section#roof
                    //- Верхнее меню
                    menu
                        -var menu_items=["О нас","Цены","Специалисты","Фотогалерея","Статьи","Отзывы","Акции","Контакты"]
                        each txt in menu_items
                            li
                                if txt=="Акции"
                                    a(href="#",class="active",title=txt)=txt
                                else
                                    a(href="#",title=txt)=txt
                    div
                        form
                            input(type="search",placeholder="Введите ваш запрос")
                            button
                                div="Искать"
                    #cards
                        each text,id in {'visa':'VISA','master':'Master Card','wifi':'WiFi'}
                            a(id=id,href="#",title=text)
                //- логотип, скидки, контакты
                section#visavi
                    //- скидки
                    -var discount="Скидка "
                    -var percents="20%"
                    #discount.color-pink
                        #discount1.antique-italic-bold.font-size18=discount
                            span.font-size24=percents
                        #discount2
                            //- Сиреневый
                            span.antique-italic-bold.font-size18=discount
                                span.font-size24=percents
                            //- чёрный
                            span#first-visit="при первом посещении на все услуги"
                            #discount-more
                                //- {
                                span
                                //- подробнее
                                a.antique-italic-bold.color-pink(href="")="подробнее"
                                //- }
                                span
                    //- контакты
                    #contacts
                        #email
                        -var phone1="+7 (812) 401-03-94"
                        -var phone2="+7 (812) 927-22-27"
                        #phones
                            div=phone1
                            div=phone2
                            .clear-both="г. Санкт-Петербург, ул. Латышских стрелков, д.1, лит.А"
                //- слайдер
                section#banner
                    #slider
                        //- элементы управления слайдами
                        #slider-controls
                            div
                                span="◄"
                            div
                                span="■"
                            div
                                span="►"
                    each text,id  in { 'make-appointment':"записаться онлайн", 'make-gift':"подари сертификат", 'ask-specialist':"задать вопрос специалисту"}
                        div
                            a(id=id,href="#",title=text)
                                div=text
                //- -------------------------------------
                //- Мобильные блоки:
                //- Логотип, сэндвич
                section#roof-mobile
                    h1="Салон красоты"
                    aside#menu-right
                        hr
                        hr
                        hr
                //- Кнопка "Все услуги", телефон
                section#all-services
                    #menu-left
                        section.centered-vertical
                            div="Все"
                            div=" услуги"
                    div
                        section.centered-vertical
                            span.float-left="Звоните!"
                            span=phone2
                section#join-us
                    div
                        span="Присоединяйтесь:"
                        -var social_images=["social-twitter","social-vk","social-fb","social-g+"]
                        each img in social_images
                            a(href="#")
                                img(src="static/images/sources/" + img + ".png")


                //- основное меню
                nav
                    each val in all_services
                        a(href="#",title=val)
                            div
                                div=val
            main
                p="Загрузка контента ...."
            footer.desktop
                div
                    div
                        span="ВНИМАНИЕ!"
                        span=" Салон ВИЗАВИ регулярно проходит аккредитацию и имеет официальную государственную лицензию и сертификат качества на все оказываемые виды услуг!"
                div
                    div
                    menu
                        each txt in menu_items
                            li
                                a(href="#",title=txt)=txt
                    //- Счётчики
                    div
                        img(src="static/images/sources/counter-rambler.gif")
                        img(src="static/images/sources/counter-2.gif")
                #copyright
                    .float-left="Copyright © 2014 Salon.ru All Rights Reserved. Designed by Salon.ru"
                    #social.float-right
                        each img in social_images
                            a(href="#")
                                img(src="static/images/sources/" + img+".png")


            footer.mobile
                div
                    a(href="#")="Перейти на полную версию"
                img(src="static/images/sources/counter-2.gif")
        #right-side
            aside
                a(href="#")="Подари сертификат"
            //- для мобильной версии меню из header перемещается сюда
        script(type='text/javascript').
            $(function(){
              //console.log('location.href = '+location.href);
                // todo: remove on production
                // ----------------------------------------------------
                // Загрузить тестовый компонент
              if(( location.href.indexOf('localhost')!=-1
                   || location.href.indexOf('127.0.0.1')!=-1)
                  && location.href.indexOf('?')!=-1){
                  document.title = window.outerWidth;
                  window.onresize=function(){
                      document.title = window.outerWidth;
                  };
                  //
                  var tail      = location.href.lastIndexOf('/')+1,
                      urlBase   = location.href.substring(0,tail),
                      params    = location.href.substr(tail); console.log('params: '+params);
                  $.get(urlBase+'_dev/debug/dev.php'+params,
                  function(data){
                      //console.log('data: '+data);
                      $('body').prepend(data);
                      loadTemplate();
                  });
              }else{
                  console.log('No url params...');
                  loadTemplate();
              }
            });
            // info: удалить (если используются серверные сценарии) или модифицировать (если используется JS-framework).
            // Разобраться с загружаемым шаблоном
            function loadTemplate(){
                var segment_pos,
                    section='1280_default'; // шаблон, загружаемый по умолчанию
                if((segment_pos = location.href.indexOf('='))!=-1){ // если найдено, возвращает позицию, с которой будем начинать извлекать section (после сдвига на 1)
                    segment_pos+=1; // скорректировать позицию
                    section=(location.href.indexOf('&')!=-1)?
                            location.href.substring(segment_pos,location.href.indexOf('&')) : location.href.substring(segment_pos);
                    //-----------------------------------------------
                    // Отобразить <nav> для секции mobile_default
                    if(section.indexOf('mobile_default')!=-1){
                        $('nav').show();
                        $('#join-us').show();
                    }
                }
                //console.log('url: templates/'+section+'.html');
                // Загрузить шаблон в <main>
                $('main').load('templates/'+section+'.html');
            }